@import 'utils';

.list-header {
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .list-tag {
        font-size: 2rem;
    }
    .list-link {
        font-size: 1rem;
        color: #ABABAB;
        text-decoration: none;
    }
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
