@import 'utils';

.card {
  @include respond-to(handhelds) {
    flex: 0 1 95%;
  }
  @include respond-to(medium-screen) {
    flex: 0 1 48%;
  }
  @include respond-to(large-screen) {
    flex: 0 1 31%;
  }
}

.link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.name {
  display: flex;
  font-size: 2rem;
  line-height: 2.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  height: calc(2.1rem * 2);
}
.content {
  font-size: 1.2rem;
  line-height: 1.3rem;
  height: calc(1.3rem * 6);
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  overflow: hidden;
  @include respond-to(handhelds) {
    font-size: 1rem;
    line-height: 1.1rem;
    height: calc(1.1rem * 6);
  }
}
.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
  .profile {
    width: 35px;
    height: 35px;
    border-radius: 30px;
  }
  .user-info {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  }
}