.list-header {
    font-size: 1.5rem;
}

.novellalist-wrapper {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    .novella-item {
        padding: 3px;
        flex: 1;
    }
}

