@import 'utils';

.left-bar {
  margin-right: 1rem;
  width: 15rem;
  height: calc(7.5rem + 660px);
  text-align: center;
  @include respond-to(handhelds) {
    height: 90%;
  }
  .head {
    font-size: 1.15rem;
    font-weight: 400;
  }
  .sections {
    font-size: 1.1rem;
    text-align: left;
    margin-top: 15px;
    height: 100%;
    overflow: auto;
    .section-item {
      margin-top: 0.2rem;
    }
  }
}
