@import 'utils';

.top-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
}
.pt-icon-search {
  @include respond-to(large-screen){display: none !important;}
  @include respond-to(medium-screen){display: none !important;}
}
.btn-text {
  @include respond-to(handhelds){display: none !important;}
}
.pt-round {
  @include respond-to(handhelds){display: none !important;}
}
