@import 'utils';

.admin-card{
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 12rem;
  margin-top: 10px;
  overflow: hidden;
  .text-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 3;
    .side-text{
      display: inline-block;
      margin: 1rem;
      font-size: 1.6rem;
    }
    .text-input {
      display: inline-block;
      margin: 1rem;
      font-size: 1.6rem;
      text-align: left;
      border: none;
      width: 50%;
      &::placeholder {
        font-style: italic;
      }
    }
    .update-button{
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
    }
    .progress-bar{
      font-size: 1rem;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
.card-list{
  overflow: hidden;
  background: {
    color: rgba(0, 0, 0, 0.5);
    blend-mode: darken;
  }
  border-bottom-style: solid;
  border-width: 1px;
  height: 200px;
  border-color: #CCCCCC;
  .cross-button{
    position: absolute;
    margin-left: 33%;
    // justify-content: right;
    // align-content: right;
  }
  .title{
    .quotation-text{
      font-size: 1.6rem;
      color: white;
      margin-top: 3rem;
      margin-left: 10%;
      margin-right: 10%;
    }
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
  }
  .text-wrapper{
    margin: 10px;
    text-align: right;
    .info-text{
      margin-right: 10%;
      font-size: 0.7rem;
      color: white;
    }
  }
}
.first-loading{
  display: flex;
  font-size: 1.5rem;
  padding-top: 10rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lazy-loading{
  padding: 15;
  display: flex; 
  justify-content: center;
}
.end-loading{
  padding: 15;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #CCCCCC;
}