@import 'utils';

.modal-background {
  position: fixed;
  background-color: rgba(45,45,45,0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  .modal-body {
    z-index: 101;
    margin: 13% auto;
    background-color: ghostwhite;
    border: dimgray 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    height: 530px;
    overflow: auto;
    flex: 15;
    @include respond-to(handhelds) {
      width: 100%;
      height: 90%;
      .content-body {
        padding-top: 0px;
      }
    }
    @include respond-to(medium-screen) {
      margin: 10% auto;
      width: 65%;
    }
    @include respond-to(large-screen) {
      width: 550px;
    }
    .exit-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
    .modal-contents {
      display: flex;
      flex: 14;
      flex-direction: column;
      padding-right: 10%;
      padding-left: 10%;
      @include respond-to(handhelds) {
        padding-right: 3%;
        padding-left: 3%;
      }
      .text-input {
        font-size: 0.8rem;
        padding: 12px 20px;
        margin: 5px 0;
        border: 1px solid #CFCFCF;
        width: 100%;
      }
    }
  }
}