@import 'utils';
.container {
  .item-head {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      @include respond-to(handhelds) {
        font-size: 1.3rem;
      }
    }
    .views {
      color: gray;
      font-size: 1rem;
      text-align: end;
      margin-top: 1rem;
    }
  }
  .item-body {
    .author {
      text-align: end;
      font-size: 1.1rem;
      margin-bottom: 3rem;
      @include respond-to(handhelds) {
        margin-bottom: 2.5rem;
      }
    }
    .content {
      line-height: 1.1rem;
      height: calc(1.1rem * 4);
      font-size: 1rem;
      overflow: hidden;
      word-break: break-all;
    }
  }
  .divbar {
    height: 1px;
    background-color: black;
    margin: 8px;
  }
}
