@import 'utils';

.search-bar {
  position: absolute;
  top: 12px;
  left: 25%;
  width: 50%;
  z-index: 30;
  @include respond-to(handhelds) {
    left: 5%;
    width: 90%;
  }
  .support-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: #DCDCDC;
    border-radius: 5px;
    width: 350px;
    .switch {
      margin-top: 10px;
      padding-right: 10px;
    }
  }
}