.title {
  font-size: 4rem;
  text-align: center;
}

.author {
  text-align: right;
  font-size: 1.5rem;
}
.content {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 1.3rem;
}
.quotation {
  @extend .content;
  margin-bottom: 10px;
  color: #FF0000;
}

.left-bar {
  top: 4rem;
  position: fixed;
  left: 20px;
  opacity: 0.8;
}