@import 'utils';

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300
}
.content-body {
  padding-top: $pt-navbar-height;
  @include respond-to(handhelds) { padding-right: 0rem; padding-left: 0rem; };
  @include respond-to(medium-screen) { padding-right: 5rem; padding-left: 5rem; };
  @include respond-to(large-screen) { padding-right: 10rem; padding-left: 10rem; };
}

input:required {
  box-shadow: none;
}
