@import 'utils';

* {
  font-family: 'Nanum Gothic', serif;
  font-weight: 400;
}

.content-body {
  @include respond-to(handhelds) { padding-right: 3px; padding-left: 3px };
  @include respond-to(medium-screen) { padding-right: 80px; padding-left: 80px; };
  @include respond-to(large-screen) { padding-right: 240px; padding-left: 240px; };
}

input:required {
  box-shadow: none;
}
