@import '~open-color/open-color';

$pt-navbar-height : 50px;

$width-small : 560px;
$width-medium: 1100px;
$width-large: 1300px;;

@mixin respond-to($device-screen) {
    @if $device-screen == handhelds {
        @media only screen and (max-width: $width-small) {
            @content;
        }
    }
    @else if $device-screen == medium-screen {
        @media only screen and (min-width: $width-small + 1 ) and (max-width: $width-medium) {
            @content;
        }
    }
    @else if $device-screen == large-screen {
        @media only screen and (min-width: $width-medium + 1) {
            @content;
        }
    }
}
