@import '../Modal';

.login-banner {
    flex: 6;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: gainsboro;
}
.login-input-fields {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .button-area {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
  }
}