@import 'utils';

.pt-card{ 
  display: flex;
  position: relative;
  justify-content: center;
  color: white;
  word-wrap:break-word;
  @include respond-to(handhelds) {
    height: 300px;
  }
  background: {
    color: rgba(0, 0, 0, 0.5);
    blend-mode: darken;
  }
  overflow: hidden;
  & img{
    display: block;
    mix-blend-mode: darken;
    position: absolute;
    max-width: 100%;
    max-width: 100%;
    align-self: center;
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
  }
  &:hover img{
    transform: scale(2.0);
  }
  .novel-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 1;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
    @include respond-to(handhelds) {
      width: 100%;
    }
    .novel-quotation{
      flex: 1;
      font-size: 2.1rem;
      padding-top: 2rem;
      text-align: center;
      .novel-info {
        color: white;
        padding: 1rem;
      }
      @include respond-to(handhelds) {
        font-size: 1.3rem;
        .novel-info {
          padding-bottom: 10px;
        }
      }
    }
    .time-counter {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      .time-counter-item {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        .time {
          font-size: 2.1rem;
          font-weight: 200;
        }
        .desc {
          font-size: 1rem;
        }
        @include respond-to(handhelds) {
          padding-left: 10px;
          padding-right: 10px;
          .time {
            font-size: 1.8rem;
            font-weight: 200;
          }
          .desc {
            font-size: 1rem;
          }
        }
      }
    }
    .button{
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    .scale {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}