@import 'utils';

.pt-card{ 
    display: flex;
    position: relative;
    justify-content: center;
    background: {
        color: rgba(0, 0, 0, 0.5);
        blend-mode: darken;
    }
    overflow: hidden;
    & img{
        display: block;
        mix-blend-mode: darken;
        position: absolute;
        max-width: 100%;
        max-width: 100%;
        align-self: center;
        transform: scale(1.4);
        transition: all 0.3s ease-in-out;
    }
    &:hover img{
        transform: scale(1.6);
    }
}

.todayNovel-contents{
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 1;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.todayNovel-info{
    color: white;
}
.todayNovel-quotation{
    flex: 1;
    font-size: 2.1rem;
    padding-top: 2rem;
    text-align: center;
}
.scale {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}