@import '~react-quill/dist/quill.snow.css';

.ql-container.ql-snow {
  border: 0px;
  font-size: 1.2rem;
}
.ql-editor {
  line-height: 2.1rem;
}

.ql-toolbar.ql-snow {
  border: 0px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
}