@import 'utils';

.editor {
  padding: 0.5rem;
  .today-novel {
    margin: 5px;
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: 1.4rem;
    font-weight: bold;
    @include respond-to(handhelds) {
      font-size: 1.1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .quotation {
      padding: 0.3rem;
      padding-bottom: 0.7rem;
    }
    .name-author {
      font-size: 1.2rem;
      text-align: right;
    }
  }
  .card-wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
    .text-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      .title {
        margin: 1rem;
        font-size: 1.6rem;
        text-align: center;
        border: none;
        &::placeholder {
          font-style: italic;
        }
      }
      .text-write-area {
        font-size: 1rem;
        margin-bottom: 25px;
        height: 650px;
        word-break: break-all;
        @include respond-to(handhelds) {
          height: 490px;
        }
      }
      .bottom-bar {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: slategrey;
        font-size: 1.05rem;
      }
    }
  }
  .btm-box {
    margin: 5px;
    display: flex;
    flex: 5;
    justify-content: space-between;
    .selection {
      flex: 3.5;
    }
    .save {
      display: flex;
      flex: 1.5;
      flex-direction: row-reverse;
      align-content: center;
    }
  }
}