@import 'utils';

.editor {
  padding: 1rem;
  .card-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    .text-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      .today-novel {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding: 2rem;
        @include respond-to(handhelds) {
          font-size: 1.1rem;
          padding: 0.5rem;
        }
      }
      .text-write-area {
        font-size: 1rem;
        margin-bottom: auto;
        height: 650px;
        @include respond-to(handhelds) {
          height: 400px;
        }
      }
      .insight-line {
        color: slategrey;
        text-align: right;
        font-size: 1rem;
      }
    }
  }
}